{% extends "base.html" %}
{% block content %}
<h1 class="display-2">VillageBot</h1>
<h2 class="display-6">For all your English village name generation needs</h2>

<div class="row justify-content-md-center">
  <div class="col-xs-4">
    <img src="static/peniston.jpg" class="img-fluid py-2" alt="A street sign for Peniston">
  </div>
</div>

<p class="px-2">This is a neural network that has been trained on a list of the 16,599 English village names <a href="https://en.wikipedia.org/wiki/Category:Villages_in_England_by_county">on Wikipedia</a>.<br/>You can read more on <a href="http://mattallinson.com/blog/2021/08/08/villagebot/">my blog</a>.</p> 
<p class="small px-2">If this has given you a fleeting moment of joy, consider <a href="https://www.buymeacoffee.com/mattallinson">donating here.</a>

{% endblock %}