{% extends "base.html" %}

{% block content %}
      <div class="container">
      <h1>AI Generated English Village Names</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
        
        <label for="myCheck">Extra options:</label> 
        <input type="checkbox" id="myCheck" onclick="options()">
        <div id="options" style="display:none">
          <p>
            {{ form.temperature.label }}<br>
            ❄️{{ form.temperature(class_="form-range", min=0.4, max=1.6, step=0.2) }}🔥
          </p>
          <p>
            {{ form.prefix.label }}<br>
            {{ form.prefix(size=32) }}
          </p>
        </div>
        
      </form>
          <div>
            <ul>
              {% for village in villages %}
              <li>{{ village}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
{% endblock %}

{% block scripts %}
<script src="static/options.js" type="text/javascript"></script>
{% endblock %}
